Repository hkevin01/vscode-chat-continue, changes with the owners that .github/CODEOWNERS names for each.
All owners: @username, @core-team, @ui-team, @docs-team, @devops-team, @qa-team

fix: Remove duplicate import statements for audio suppressor utilities
  src/core/__pycache__/automation_engine.cpython-312.pyc
  src/core/__pycache__/click_automator.cpython-312.pyc
  src/core/automation_engine.py
Owners: @username, @core-team

feat: Add WindowFocusManager for cross-platform window focus management
  SUCCESS_REPORT.py
  src/core/__pycache__/automation_engine.cpython-312.pyc
  src/core/automation_engine.py
  src/core/window_focus_manager.py
Owners: @username, @core-team

feat: Enhance button detection and add auto-focus functionality
  config/default.json
  src/core/__pycache__/automation_engine.cpython-312.pyc
  src/core/__pycache__/button_finder.cpython-312.pyc
  src/core/automation_engine.py
  src/core/button_finder.py
  test_detection_debug.py
Owners: @username, @core-team

Add comprehensive unfocused window automation tests and demo
  SUCCESS_REPORT.py
  TEST_AUTOMATION.md
  kill_automation.py
  lightweight_automation.py
  live_unfocus_demo.py
  performance_optimizer.py
  scripts/run.sh
  simple_unfocus_test.py
  src/core/__pycache__/automation_engine.cpython-312.pyc
  src/core/automation_engine.py
  src/gui/main_window.py
  src/utils/__pycache__/screen_capture.cpython-312.pyc
  src/utils/screen_capture.py
  test_beep_suppression.py
  test_button_detection.py
  test_continue_button.html
  test_simple_screenshot.py
  test_unfocused_automation.py
  tests/live_demo.py
  tests/quick_unfocus_test.py
  tests/test_unfocused_windows.py
Owners: @username, @docs-team, @devops-team, @core-team, @ui-team, @qa-team

fix: Ensure src directory is in Python path before imports
  src/gui/main_window.py
Owners: @username, @ui-team

feat: Add keyboard controller support and implement text typing functionality in ClickAutomator
  src/core/__pycache__/automation_engine.cpython-312.pyc
  src/core/__pycache__/click_automator.cpython-312.pyc
  src/core/click_automator.py
  src/utils/__pycache__/screen_capture.cpython-312.pyc
Owners: @username, @core-team

feat: Implement lightweight and safe automation scripts for VS Code Continue Button
  scripts/kill_automation.py
  scripts/lightweight_automation.py
  scripts/run.sh
  scripts/safe_automation.py
  scripts/terminate_automation.py
  stop.sh
Owners: @username, @devops-team

feat: Set safe mode as default for VS Code Chat Continue Automation to prevent system freezing
  SAFE_MODE_DEFAULT.md
  SYSTEM_FREEZING_FIX.md
  scripts/run.sh
  scripts/run_safe.sh
Owners: @username, @docs-team, @devops-team

feat: Refine process patterns to target specific automation scripts in AutomationTerminator
  scripts/terminate_automation.py
Owners: @username, @devops-team

feat: Add initial scripts for simple and VS Code only automation
  scripts/run.sh
  scripts/simple_vscode_automation.py
  scripts/vscode_only_automation.py
Owners: @username, @devops-team

feat: Rewrite high-capacity automation for enhanced safety and reliability
  docs/SAFE_AUTOMATION_IMPROVEMENTS.md
  scripts/high_capacity_automation.py
Owners: @username, @docs-team, @devops-team

feat: Add fallback method to type 'continue' in chat and implement tests for button recognition
  assets/test_continue_button.html
  scripts/high_capacity_automation.py
  tests/test_continue_button_recognition.py
Owners: @username, @devops-team, @qa-team

Add comprehensive freeze detection tests for VS Code integration
  FREEZE_DETECTION_SYSTEM.md
  TEST_RESULTS_SUMMARY.md
  config/default.json
  demo_freeze_detection.py
  src/main.py
  tests/comprehensive_test_suite.py
  tests/test_freeze_detection_10s.py
  tests/test_freeze_detection_goals.py
  tests/test_freeze_detection_simple.py
  tests/test_working_freeze_detection.py
Owners: @username, @docs-team, @core-team, @qa-team

feat: Implement automatic termination of existing processes and add comprehensive tests
  TERMINATION_FEATURE_SUMMARY.md
  src/main.py
  test_comprehensive.py
  test_production_mode.py
Owners: @username, @docs-team

.github/CODEOWNERS:

# Code Owners

# Global owners
* @username

# Core automation logic
/src/core/ @username @core-team

# GUI components
/src/gui/ @username @ui-team

# Documentation
/docs/ @username @docs-team
README.md @username @docs-team
*.md @username @docs-team

# CI/CD and infrastructure
/.github/ @username @devops-team
/scripts/ @username @devops-team
pyproject.toml @username @devops-team

# Tests
/tests/ @username @qa-team

# Configuration
/config/ @username @core-team
